
@{
    ViewBag.Title = "Print";
    ViewBag.pTitle = "OutScan";
    ViewBag.pageTitle = "Delivery Run Sheet";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {

    });
</script>



@using (Html.BeginForm("DRSRunSheet", "OutScan", FormMethod.Post, new { @id = "customerledger" }))
{
    <div class="row no-margin" style="padding-top:10px">
        <input type="hidden" value="@ViewBag.ReportId" />
        <a target="_blank" href="/OutScan/DownloadFile?id=@ViewBag.ReportId" class="btn btn-primary" style="padding-top:30px;float:right">Download Excel</a>
    </div>
}

<div class="row no-margin" style="padding-top:10px">
    @{ Html.RenderAction("ReportFrame", "Accounts");}
    @*<iframe src=@ViewBag.ReportOutput width="100%" height="600px"></iframe>*@
</div>