@{
    ViewBag.Title = "Reports";
    ViewBag.pTitle = @ViewBag.ReportName;
    ViewBag.pageTitle = @ViewBag.ReportName;
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _decimal = Convert.ToInt32(@Session["Decimal"].ToString());
}
@section styles{
    <link href="~/assets/libs/select2/css/select2.min.css" rel="stylesheet" type="text/css" />

}
<div class="row no-margin" id="divreport1">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 report_pad">
                    @{ Html.RenderAction("AWBReportParam", "Reports");}
                </div>
                <div class="col-md-9" id="divreportframe">
                    @{ Html.RenderAction("ReportFrame", "Reports");}
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{

    <script src="~/assets/libs/select2/js/select2.min.js"></script>
   
}
