@{
    ViewBag.Title = "Report";
    ViewBag.pTitle = "Export Manifest";
    ViewBag.pageTitle = "Operation Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var _decimal = Convert.ToInt32(@Session["Decimal"].ToString());
}


 
<div class="row no-margin" id="divreport1">
    @{ Html.RenderAction("ExportManifestReportParam", "Reports");}
</div>
