bin/
obj/
.vs/
*.user
*.suo
*.userprefs
*.usertasks
*.cache
*.log
.idea/
*.db
*.db-shm
*.db-wal
appsettings.Development.json
launchSettings.json
node_modules/
wwwroot/lib/
wwwroot/_content/
/packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/
Net4Courier-Skote/
attached_assets/
*.tar.gz
*.zip
