@model Net4Courier.Models.TransportModeVM

@{
    ViewBag.Title = "Create";
        ViewBag.pTitle = "Transport Mode";
    ViewBag.pageTitle = "Transport Mode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script type="text/javascript">
    $(document).ready(function () {
        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $("#TransportModeName").focus();
      

        $("#btnsave").click(function () {
            var tran = $("#TransportModeName").val();
         


            if (tran == "") {
                $("#validations").show();
                return false;
            }
        
            else {
                $("#validations").hide();
                return true;
            }
        });


    });
</script>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
      <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
    <fieldset>
        <div class="card"> 
<div class="card-body"> 
       <div class="row"> 

         <div class="col-md-4">
         <div class="mb-2">
                          <label class="col-form-label required">Transport Mode</label>
                 @Html.TextBoxFor(model => model.TransportModeName,new { @class = "form-control txttarget" })
            @Html.ValidationMessageFor(model => model.TransportModeName)
                     
                 </div>
   </div>
            
          
                        <div class="col-md-12 text-md-end">
                           
                              <input type="submit" value="Save" class="btn btn-success" id="btnsave" />
                              <a href='@Url.Action("Index", "transportmode", new { id = 0 })' class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title=" ">Cancel</a>

                               
                          
                        </div>
            </div> </div> </div>
    </fieldset>
}

