
<div class="modal fade" id="emailpopup" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius:5px;width:700px">
            <div class="modal-header">
                <h4 class="modal-title">
                    Email Sending
                </h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="container-fluid" id="emailpopupContainer">
                    <div class="row">
                       
                            <div class="col-md-6">
                                <div class="form-group col-mb-2">
                                    <label class="col-form-label">Recipient Name</label>
                                    <input type="text" class="form-control" name="RecipientName" id="txtRecipientName" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group col-mb-2">
                                    <label class="col-form-label">Recipient Email</label>
                                    <input type="text" class="form-control" name="RecipientEmail" id="txtRecipient" />
                                </div>
                            </div>
                     
                    </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group col-mb-2">
                                        <label class="col-form-label">Subject</label>
                                        <input type="text" class="form-control" name="EmailSubject" id="txtSubject" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group col-mb-2">
                                        <label class="col-form-label">Body Text</label>
                                        <textarea class="form-control" id="txtEmailBody" name="EmailBody" rows="5"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group col-mb-2">
                                        <label class="col-form-label">Regards</label>
                                        <input type="text" class="form-control" id="txtEmailThanks" name="EmailThanks" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
            <div class="modal-footer" style="padding-top: 5px">
                <span class="error text-left" id="spanemailerror"></span>
                <button type="button" class="btn btn-primary" onclick="SendEmail()">Send Email</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
