<div class="modal fade" id="loaderpopup" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content" style="border-radius:5px;width:700px">
            <div class="modal-header">
                <h4 class="modal-title" id="h4LoaderTitle">
                    Data Fixation
                </h4>                
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <div class="container-fluid text-center" id="loaderpopupContainer">
                    <div class="spinner-border text-secondary m-1" role="status">
                        <span class="sr-only">Processing...</span>
                    </div>
                    <div>Processing</div>
                </div>
            </div>
            @*<div class="modal-footer" style="padding-top: 5px">
                <span class="error text-left" id="spanfixationerror"></span>
                <button type="button" class="btn btn-primary"  onclick="savefixation()">Save</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>*@
        </div>
    </div>
</div>
<script>
     

</script>