@model Net4Courier.Models.TypeOfGood

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>TypeOfGood</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TypeOfGood1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TypeOfGood1)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TypeOfGoodID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
