@model Net4Courier.Models.DatePicker
@{
    Layout = null;
}
<link href="/Content/Multiselect/bootstrap-multiselect.css" rel="stylesheet" />
<script src="/Content/Multiselect/bootstrap-multiselect.js"></script>
<style>
#invoicesearch .row .col-md-1 {
    width: 12%;
} 
.multiselect{
	 align-items: center;
    display: flex!Important;
    justify-content: space-around;
}
#movementid + .btn-group button,#movementid + .btn-group{
	display:block;
	width:100%;
	}

</style>

<script>
     var customernames = [];
    $(document).ready(function () {
                  
       
              $.ajax({
                type: "Get",
                url: "/CustomerInvoice/GetCourierType",
                datatype: "Json",
                  success: function (response) {
                      
                      var data = response.data;
                    $('#movementid').empty();

                    $.each(data, function (index, value) {
                        
                        var o_st = $("#MovementId").val().split(",");
                        
                        var flag = 0;
                        for (var j = 0 ; j < o_st.length; j++) {
                            debugger;
                                if (o_st[j] == value.MovementID) {
                                    flag = 1;
                                    break;
                                }

                        }

                        if (flag == 1) {
                            $('#movementid').append('<option value="' + value.MovementID + '" selected=true>' + value.MovementType + '</option>');
                        }
                        else {
                            $('#movementid').append('<option value="' + value.MovementID + '">' + value.MovementType + '</option>');
                        }

                    });



                      $('#movementid').multiselect({
                        nonSelectedText:'Select',
                        enableClickableOptGroups: true,
                        enableCollapsibleOptGroups: true,
                        enableFiltering: false,
                        includeSelectAllOption: true,
                        enableCaseInsensitiveFiltering: false,
                        selectAllValue: 'multiselect-all'
                      });

                     
                }
              });

        $('#btnsearch').click(function () {
            
          
            if ($('#movementid').val() == null) {
                $('#movementid').focus();
                alert('Select Courier type!')
                return false;
            }
        })
       
    });


    @*$('#MovementId').select2({
        data:@ViewBag.Movement,
        multiple: true
    });*@

</script>
@using (Html.BeginForm("AWBSearch", "CODReceipt", FormMethod.Post, new { @id = "awbsearch" }))
{
    @Html.AntiForgeryToken()


    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row">
 <div class="col-md-2">
                    <div class="mb-2">
                        <label class="col-form-label">From Date</label>
                        
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="FromDate" id="FromDate" value="@Model.FromDate"
                                       placeholder="Pick a From Date" autocomplete="off">
                                <button type="button"
                                        class="btn btn-secondary docs-datepicker-trigger"
                                        disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                            </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="mb-2">
                        <label class="col-form-label">To Date</label>
                        <div class="docs-datepicker">
                            <div class="input-group">
                                <input type="text" class="form-control docs-date" name="ToDate" id="ToDate" data-date-format="dd/MM/yyyy" data-date-autoclose="true" data-provide="datepicker" value="@Model.ToDate"
                                    placeholder="Pick a date" autocomplete="off">
                                <button type="button" class="btn btn-secondary docs-datepicker-trigger" disabled>
                                    <i class="mdi mdi-calendar" aria-hidden="true"></i>
                                </button>
                                </div>
                            <div class="docs-datepicker-container"></div>
                        </div>
                    </div>
                </div>
    <div class="col-md-3">
     <div class="mb-2">
        <label class="col-form-label required ">Courier Type</label>
        <select id="movementid" name="SelectedValues" multiple="multiple" class="form-select">
            <option value=""></option>
        </select>
    </div>
    </div>
      <div class="col-md-2">
                                <div class="mb-2 mt-2">
                                    <button type="submit" class="btn btn-success waves-effect waves-light filter btn_top reload">
                                        <i class="bx bx-revision mt-1" style="font-size: 21px;"></i>
                                    </button>
                                </div>
                            </div>
</div>
   
}


