
@{
    ViewBag.Title = "Import";
    ViewBag.pageTitle = "Inbound";
    ViewBag.pTitle = "Forwarding Agent Cost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
    <div class="card-body">
        <div class="row">
            
                <div class="col-md-3">
                    <label class="headinglabel required ">Forwarding Agent</label>

                    @Html.DropDownList("FAgentID", new SelectList(@ViewBag.FAgentID, "SupplierID", "SupplierName"), "Select", new { @class = "form-select" })

                </div>
                <div class="col-md-1">
                    <input class="form-control" type="file" style="display:none" name="importFile" id="importFile" />                                        
                    <button class="btn btn-success waves-effect waves-light btn_top" id="btnUpload" title="Upload .CSV File" style="padding: 1px 10px;"><i class="mdi mdi-file-excel font-size-21"></i></button>
                </div>
                <div class="col-md-8 text-md-end">
                    <div class="text-right" style="padding-top: 25px">
                        <input type="button" value="Download Template" class="btn btn-primary" onclick="window.location.href='/Template/FwdAgentRate_Template.csv'">
                        <input type="button" onclick="SaveRate()" value="Save" class="btn btn-success btnwidth" id="btnsave" />&nbsp;&nbsp;<a href='@Url.Action("Index", "ForwardingAWBCost", new { id = 0 })' class="btn btn-secondary btnwidth" data-toggle="tooltip" data-placement="right" title="Click here">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row no-margin" style="padding-top: 10px">
        <div class="col-md-12">
            <table class="table table-bordered table-responsive" style="background-color: white">

                <thead class="table-light">

                <th>AWB No.</th>
                <th>Total Cost</th>
                <th>Other Charge</th>
                <th>Remarks</th>
                <th>Weight</th>
                <th>Forwarding AWB No.</th>
                </thead>
                <tbody id="details">
                </tbody>
            </table>
        </div>
    </div>



    @Html.Partial("~/Views/Shared/_LoaderModal.cshtml")
    @section scripts{


        <script src="~/Scripts/JS/FwdAgentRateCostImport.js?v=2"></script>

    }
