body {
}
/*Used stop set arrow input the autocomple control*/
.caretauto {
    border: none;
    background: none;
    position: absolute;
    top: 34px;
    right: 19px;
    z-index: 999;
    cursor: pointer;
}
.color_blue{
    color: blue!important;
}
.color_red
{
    color:red!important
}
.color_green{
    color:green!important;
}

.blue_text{
    color:#0094ff;
}
.btn_top{
    margin-top: 28px;
}
.float-right {
    float: right;
}
.ml-10{
    margin-left: 10px!important;
}
.mr-10 {
    margin-right: 10px !important;
}
.rowactive{
    background-color:#54e7f1!important;
}
.form-control:focus,.form-select:focus{
    background-color:#f8f7e4;
}

.ui-menu .ui-menu-item:focus{
    background-color:#0094ff!important;
}
.masterplus{  
    font-size:15px;
    font-weight:bold;
    color:#0094ff;
    padding-left:10px;
}

.plus_icon{
	border: none;
    margin-top: 35px;
background: none;
}
.plus_icon i{
    background: green;
    color: #fff;
    padding: 11px;
border-radius: 5px;
}

.btn-flex{
	display: flex;
    justify-content: flex-end;
}
.refresh i,.refresh_btn i{
    	font-size: 35px;
   	margin-top: 30px;
	color: green;
}
.refresh_btn{
	border: none;
	background: none;
}
.hide,.hidden{
display: none;
}
.border_filter{
    border: 1px solid #35b8eb;
    padding-top: 15px;
    padding-bottom: 15px;
}
.filter_head {
    background: #fff;
    margin-bottom: -15px;
    z-index: 9;
    margin-left: 10px;
}

.form-control-sm{
    border:1px solid #dedede!important;
}
/*#AutoAllocate{
margin-top: 9px;
}*/
.goog-te-menu-value span{
display: none;
}
.text-right{
text-align: right;
}

.textright3 {
    text-align: right!important;
}

.textright0 {
    text-align: right!important;
}

.textright {
    text-align: right!important;
}
.btn{
font-weight: 600 !important;
}
.border_right{
    border-top-right-radius: 0.25rem !important;
 border-bottom-right-radius: 0.25rem !important;
}
.accordion-collapse .card{
	border: 2px solid lightgrey;
	border-radius: 10px;
	padding: 10px;

}
.filter {
    padding: 2px 10px !important;
}
.over_250{
max-height: 250px;
overflow-y:scroll;
}
.btn-pink{
color: #fff;
    background-color: #ef88e2;
    border-color: #ef88e2;
}
.btn-pink:hover {
    color: #fff;
    background-color: #ef5cdc;
    border-color: #ef5cdc;
}
body[data-sidebar=dark] #sidebar-menu ul li a {
    color: #b9c5ed;
}
body[data-sidebar=dark] #sidebar-menu ul li a i {
    color: #b9c5ed;
}
body[data-sidebar=dark] #sidebar-menu ul li ul.sub-menu li a {
    color: #b9c5ed;
}
body[data-sidebar=dark].vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>ul a {
    color: #b9c5ed;
}
.btn-info{
color: #fff;
    background-color: #448ccd !important;
    border-color: #448ccd !important;
}
.btn-secondarys {
    color: #fff;
    background-color: #a1a4b1;
    border-color: #74788d;
}
.border_right0{
border-top-right-radius: 0px;
border-bottom-right-radius: 0px;
}
.p5{
    padding: 0.47rem 5px !important;
} 
.font-size-21{
	font-size: 21px;
}
hr{
opacity: 1 !important;
background: #343a40!important;
color: #343a40!important;
}
.text-lightblue {
    color: #089b8e;
}
.text-lightpink {
    color: #cd288e;
}
.border_div{
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 5px;
    margin-left: 0px;
margin-right: 0px;
}
.text_over{
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    display: block !important;
    width: 160px;
}
.smalltext_over {
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    white-space: nowrap !important;
    display: block !important;
    width: 100px;
}
.hide{
    display:none;
}

table.dataTable tbody tr.selected {
    color: white;
    background-color: #448ccd;
}

blink {
    animation: 0.8s linear infinite condemned_blink_effect;
}

@keyframes condemned_blink_effect {
    0% {
        visibility: hidden;
    }

    50% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}
.datepicker

{
    z-index:3000;
}

/*.ui-widget-header {
    border: 1px solid #aaaaaa;
    background: #cccccc url("/assets/images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x !important;
}*/

/*.ui-datepicker {
    background: #333;
    border: 1px solid #555;
    color: #EEE;
}*/


@media (min-width: 576px){
#itempopup .modal-dialog {
    max-width: 80%;
    margin: 1.75rem auto;
}
}

.btn_add{
    padding: 5px 5px 5px 8px !important;
}

.reload{
    background: #67e9b6 !important;
    border: 1px solid #67e9b6 !important;
}