@model Net4Courier.Models.CustomerInvoiceVM

@{
    ViewBag.Title = "Print";
    ViewBag.pageTitle = "Account Receivable";
    ViewBag.pTitle = "COD Invoice";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int i = 0;
    var _decimal = @Session["Decimal"].ToString();
}

<div class="row no-margin" style="padding-top:10px">
    <div class="" style="text-align:right;padding:10px">
        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-danger btnwidth float-right" })
    </div>
</div>
<div class="row no-margin" style="padding-top:10px" id="divreportframe">
    @{ Html.RenderAction("ReportFrame", "Reports");}
</div>
