.card.card-xs {
    height: 95px;
    overflow: hidden;
}

.card {
    border-radius: 0.4167rem;
    transition: box-shadow 0.7s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
    box-shadow: 0 9px 23px rgb(0 0 0 / 9%), 0 5px 5px rgb(0 0 0 / 6%) !important;
}

    .card:hover, .card:focus {
        box-shadow: 0 9px 23px rgb(0 0 0 / 18%), 0 5px 5px rgb(0 0 0 / 12%) !important;
    }

    .card .card-body .tile-left {
        position: absolute;
    }

.bg-gradient {
    background: linear-gradient(135deg, #07a7e3 0%, #32dac3 100%);
}

.bg-secondary.bg-gradient {
    background: linear-gradient(135deg, #4f5b60 0%, #97a9b2 100%);
}

.card-body {
    padding: 1.5rem !important;
}


.card .card-body .tile-right {
    text-align: right;
    line-height: 1.618;
}

    .card .card-body .tile-right .tile-number {
        font-size: 24px;
        font-weight: 400;
    }

.col-md-3, .col-md-4, .col-md-6 {
    padding-right: 15px !important;
    padding-left: 15px !important;
}

.card i {
    margin-top: 15px;
    font-size: 4.8rem !important;
    opacity: 0.75;
    -webkit-transition: opacity 0.225s ease-in-out;
    -moz-transition: opacity 0.225s ease-in-out;
    -o-transition: opacity 0.225s ease-in-out;
    transition: opacity 0.225s ease-in-out;
    color: #fff !important;
}

.card:hover i, .card:focus i {
    opacity: 1;
}

.bg-info {
    color: #FFFFFF;
    background-color: #55d3f5 !important;
}

.bg-danger {
    color: #FFFFFF;
    background-color: #f43a59 !important;
}

.text-warning i {
    color: #fce418 !important;
}

.display-4 {
    font-size: 42px;
    font-weight: 300;
    line-height: 1.2;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.caps {
    text-transform: Uppercase;
}

.my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.profile-picture {
    width: 48px;
    height: 48px;
    padding-top: 2px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    position: relative;
    margin: 0px 20px 0px 20px;
}

    .profile-picture img {
        display: block;
        width: 44px;
        height: 44px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        margin: 0 auto;
    }

    .profile-picture.has-message::after {
        content: "";
        background-color: #07a7e3;
        position: absolute;
        top: 7px;
        left: -2px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }

.card .card-header {
    position: relative;
    color: #07a7e3;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 19px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.09);
    padding-top: 2.5rem;
    margin-left: 2.083rem;
    margin-right: 2.083rem;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
}

.bg-white {
    background-color: #fff !important;
}

.mCustomScrollBox {
    max-height: 350px;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    max-width: 100%;
    outline: 0;
    direction: ltr;
}

.card .card-media-list .media:first-child {
    padding-top: 10px;
}

.card .card-media-list .media .heading {
    font-weight: 500;
    color: #72848c;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 12px;
    line-height: 1.618;
    letter-spacing: 0.03em;
}

.see_button {
    background-color: #384044 !important;
    margin-top: 20px;
    padding: 8px 20px !important;
    height: 45px !important;
}

.card .card-media-list {
    height: 100%;
    padding: 0 0 2.083rem;
}
