@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function () {

        $(":text").css({ "border-radius": "5px" });
        $("select").css({ "border-radius": "5px" });

        $('#txtFromDate').datepicker({
            dateFormat: 'dd-M-yy',
            changeYear: true, changeMonth: true,
        });
        $('#txttoDate').datepicker({
            dateFormat: 'dd-M-yy',
            changeYear: true, changeMonth: true,
        });
    });
        </script>
<section class="content-header">
    <h1 class="headingfont">Shipment HoldRelease</h1>

</section>

<section class="content">
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
      <div id="validations" style="color:red;margin-left:7px;display:none">* Please fill mandatory fields</div>
    <fieldset>
     <div class="row no-margin"> 
               
             <div class="col-md-3">
                          <label class="headinglabel required">From</label>
            
                    @Html.TextBox("txtFromDate", "", new{ @class="form-control"})
                    
                 </div>
      
              <div class="col-md-3">
                          <label class="headinglabel required">To</label>
            
                       @Html.TextBox("txttoDate", "", new{ @class="form-control"})
                    
                 </div>
         </div>

        <div class="row no-margin" style="padding-top:10px">
           
             <div class="col-md-3">
                            <input type="submit" value="Search" class="btn btn-primary btnwidth" data-toggle="tooltip" title="Click here" id="btnSearch" />
                    
                 </div>

           </div>


         <div class="row no-margin form-layout">
                <div class="col-xs-12" style="padding-top: 10px">
                    <div class="data" style="padding-top: 10px;">
                        <table border="1" class="table table-responsive tblbackground" style="width: 100%" id="tbl1">
                            <tr style="font-weight: bold">

                                <th>SR.No</th>
                                <th>Release</th>
                                <th>Date</th>
                                <th>AWB No</th>
                                <th>Consignor</th>
                                <th>Consignee
                                </th>
                                <th>Origin
                                </th>
                                <th>Destination
                                </th>
                            </tr>
                            <tr>
                                <td>
                                   <input type="text" id="txtsrNo"></td>

                               
                                <td>
                                    <input type="text" id="txtAwbNo"></td>
                                <td>
                                    
                                <td>
                                    <input type="text" id="txtremark" /></td>
                                <td>

                                    </td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
    </fieldset>
}
    </section>
