@model IEnumerable<Net4Courier.Models.AcTypeModel>
@{
    ViewBag.Title = "Account Type";
    ViewBag.pTitle = "Account Type";
    ViewBag.pageTitle = "General Ledger";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isadd = true;
    var ismodify = true;
    var isdelete = true;

    string path = Request.Url.AbsolutePath.ToLower();

    if (Convert.ToInt32(Session["UserRoleID"]) > 1)
    {
        Net4Courier.Models.SourceMastersModel obj = new Net4Courier.Models.SourceMastersModel();
        isadd = obj.GetAddpermission(Convert.ToInt32(Session["UserRoleID"]), path);
        ismodify = obj.GetModifypermission(Convert.ToInt32(Session["UserRoleID"]), path);
        isdelete = obj.GetDeletepermission(Convert.ToInt32(Session["UserRoleID"]), path);

    }
}

<style>
    tfoot {
        display: table-header-group;
    }
</style>







<div class="card">
    <div class="card-body">
        <div class="table-responsive m-t-40">
            <div class="col-md-12 mb-4 text-md-end">
                <a disabled class="btn btn-primary waves-effect waves-light" href="/Accounts/CreateAcType"><i class="mdi mdi-plus me-1"></i>  New Account Type</a>
            </div>


            <table id="datatable" class="table display table-bordered table-striped">
                <thead class="table-light">
                    <tr>
                        <th>Account Type</th>
                        <th>Account Category</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>

                            <td class="tdtarget">
                                @Html.DisplayFor(modelItem => item.AcType)
                            </td>

                            <td class="tdtarget">
                                @Html.DisplayFor(modelItem => item.AcCategory)
                            </td>
                            <td>
                                <a class="text-success" href="/Accounts/CreateAcType?id=@item.Id"><i class="mdi mdi-pencil font-size-18"></i></a>

                                <a href="#" class="text-danger" onclick="DeleteHead(ID=@item.Id)"><i class="mdi mdi-delete font-size-18"></i></a>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript">
    function Delete(ID) {
        if (confirm("Are you sure, You want to Delete Account Type?")) {
            window.location.href = "/Accounts/DeleteAcType/?id=" + ID;
        }
    }
</script>

